.cart-text{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    font-size: larger;
    font-weight: 400;
    /* width: fit-content; */

}
.table-cart tr td{
    width: 150px;
    height:150px;
    text-align: center;
    /* display: flex; */
    align-items: center;
    margin: auto;
    /* flex-direction: column; */
}
.cart-content{
    /* flex-direction: row; */
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    width: 100%;   
}
.img-cart{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.cart-content{
    margin: auto;
    /* text-align: center; */
    /* display: flex; */
    margin: 7px;
    justify-content: center;
    align-items: center;
    
}
.handle-num{
    cursor: pointer;
    font-weight: bold;
    font-size: x-large;
}