

.side-item{
    font-size: x-large;
    font-weight: 500;
    font-family: cursive;
    text-align: center;
    border-bottom: 1px solid black;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    color: black;
}
.side-item:hover{
    background-color: #00000033;
    transition: 0.3s;
    


}
/* .side-item::after{
    content: '';
    background-color: black;
    width: 100%;
    height: 2px;

} */
.side-img{
    width: 220px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: auto;
    background: inherit;
}
.side-img img{
    width: 100%;
    border-radius: 50%;
}
.nav-item {
    color: black;
    text-decoration: none;
}