.img-slider{
    height: 300px;
    background:white;
    background:none
     /* radial-gradient(ellipse at center, rgba(12, 12, 12,.1) 0%, #cecbcb 90%); */


}

.txt{
    font-size: x-large;
    font-style: italic;
    font-family: normal;
    font-weight: 500;
    line-height: 2;
    font-stretch: expanded;
}
.content-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 58px;
    border-radius: 15px;
}
.img{
    border-radius: 15px;
    width: 80%;
    height: 95%;
    margin: auto;
}
.mediaid{
    font-family: none;
    font-weight: lighter;
    font-size: xx-large;
    color: var( --second--color);
    text-shadow: 3px 0px #9e8b9f;
    margin-left: 15px
}