.form-pharmacy{
    /* width: fit-content; */
    padding: 50px;
    height: fit-content;
    display: flex;
    align-items: center;
    border:  none;
    box-shadow:0 0 12px  var(--second--color);
   
}
